html {
	height: 100%;
	}
body {
 font-family: "Oleo Script" "Trebuchet MS", Arial, Helvetica, sans-serif;
 position:fixed;
 margin: 0;	/* explicitly get rid of default margin */
 padding: 0;  /* explicitly get rid of default margin */
}

h1, h2 {
 font-size:3em;
 font-family: "Trench" "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header {text-align: center;
	color: yellow;
}

#infoObject {
				text-align: center;
				float: left;
				width: 50%;
				color: yellow;
				font-size:1.5em;
			}
#instructions { 
				text-align: left;
				float: right;
				width: 50%;
				color: yellow;
				font-size:1.3 em;
			}
/** css class descriptions for ids **/
#bugObject {
 /* simple box */
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(bug.jpg);
}
#snakeObjectL {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeL.jpg);
}
#snakeObjectR {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeR.jpg);
}
#snakeObjectU {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeU.jpg);
}
#snakeObjectD {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeD.jpg);
}
#eggObject {
 position:absolute;
 left:1px; /* position reset in program - randomly*/
 top:50px; /* position reset in program - randomly */
 width:10px;
 height:10px;
 background:url(images/egg.jpg);
}
#divGameboard {

}
#gameboard {
 /* playing board boundaries */
 background:url(images/grass.jpg);
 border:5px solid #FFFF00;		/* yellow border */
 white-space:nowrap;
 top: 0px;
 left: 0px;
}
body {
 background:url(images/grass.jpg);
}

#buttonLook {
   background-color: yellow;
   text-align: right;
}
