html {
	height: 100%;
	}
body {
 /*font-family: "Oleo Script" "Trebuchet MS", Arial, Helvetica, sans-serif;*/
 font-family: 'Baloo Da', cursive;
 position:fixed;
 margin: 0;	/* explicitly get rid of default margin */
 padding: 0;  /* explicitly get rid of default margin */
}

h1, h2 {
 font-size:3em;
 font-family: "Trench" "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header {text-align: center;
	color: black;
}
.closeButt{
	top:10px;
	right:-50px;
	text-align: center;
	float:right;
}
#infoObject {
				text-align: center;
				float: left;
				width: 50%;
				color: black;
				font-size:2.0em;
				font-weight: bold
			}
#instructions { 

				text-align: left;
				float: right;
				color: black;
				font-size:1.5 em;
				background-color:rgba(255,255,255,.7);
				position:absolute;
				top:0;
				left:0;
				width:80%;
				height:80%;
				margin: 20px 0 0 20px;
				z-index: 100;
				padding:30px;
				display: block;
			}
/** to prevent playing while instrs are up **/
#instrFrame {	
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 90;
	background-color: rgba(0,0,0,0); 
	position:absolute;
	display:block;
}

/** css class descriptions for ids **/
#bugObject {
 /* simple box */
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(bug.jpg);
}
#snakeObjectL {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeL.jpg);
}
#snakeObjectR {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeR.jpg);
}
#snakeObjectU {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeU.jpg);
}
#snakeObjectD {
 position:absolute;
 left:1px;
 width:10px;
 height:10px;
 background:url(images/snakeD.jpg);
}
#eggObject {
 position:absolute;
 left:1px; /* position reset in program - randomly*/
 top:50px; /* position reset in program - randomly */
 width:10px;
 height:10px;
 background:url(images/egg.jpg);
}
#divGameboard {

}
#gameboard {
 /* playing board boundaries */
 background:url(images/grass.jpg);
 //background:pink;
 border:5px solid #FFFF00;		/* yellow border */
 white-space:nowrap;
 top: 0px;			/* at origin - margin and padding set to 0 elsewhere */
 left: 0px;			/* at origin - margin and padding set to 0 elsewhere */
}
body {
 background:url(images/grass.jpg);
}

.buttStyle {
   background-color: #e0d132;;
}
#showInstr {
	float:right;
}
